# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Ignore editor/IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional: Python virtual environments
venv/
.env/

downloads/
*.torrent